openapi: 3.0.0
servers:
  - url: 'https://api.apitube.io/v1'
info:
  title: API Reference
  description: >-
    Here you have detailed documentation of all available API functions. To get started, you can make the sample request for each endpoint or [integrate into your application](/integrations).
  version: 1.0.8
tags:
  - name: News API
    description: Discover news articles that align with one or multiple search criteria.
paths:
  /news/articles:
    get:
      tags:
        - News API
      summary: Get news articles
      description: "The most recent news endpoint offers access to the most up-to-date and significant news stories.<br/><br/>Calling this endpoint requires `1 point`.<br/><br/>This api endpoint also available in `POST` request."
      parameters:
        - name: apiKey
          in: query
          description: Your API key from dashboard.
          required: false
          schema:
            type: string
        - name: title
          in: query
          description: Find articles by article title.
          required: false
          example: 'title=Apple'
          schema:
            type: string
        - name: queryInTitle
          in: query
          description: Find articles by query. [Examples how to use](/news-api/advanced-searching).
          required: false
          example: 'queryInTitle=Musk AND (Tesla OR SpaceX)'
          schema:
              type: string
        - name: ignoreInTitle
          in: query
          description: Ignore articles by article title.
          required: false
          example: 'ignoreInTitle=Apple'
          schema:
            type: string
        - name: content
          in: query
          description: Find articles by article content.
          required: false
          example: 'content=Macbook'
          schema:
            type: string
        - name: queryInContent
          in: query
          description: Find articles by query. [Examples how to use](/news-api/advanced-searching).
          required: false
          example: 'queryInContent=Musk AND (Tesla OR SpaceX)'
          schema:
            type: string
        - name: ignoreInContent
          in: query
          description: Ignore articles by article content.
          required: false
          example: 'ignoreInContent=Macbook'
          schema:
              type: string
        - name: author
          in: query
          description: Find articles by author name.
          required: false
          example: 'author=John Doe, Jane Doe'
          schema:
            type: string
        - name: ignoreInAuthor
          in: query
          description: Ignore articles by author name.
          required: false
          example: 'ignoreInAuthor=John Doe'
          schema:
              type: string
        - name: search
          in: query
          description: Find articles by article title or article content match.
          required: false
          example: 'search=Macbook Pro'
          schema:
            type: string
        - name: ignoreInSearch
          in: query
          description: Ignore articles by article title or article content match.
          required: false
          example: 'ignoreInSearch=Macbook Pro'
          schema:
            type: string
        - name: query
          in: query
          description: Find articles by query. [Examples how to use](/news-api/advanced-searching).
          required: false
          example: 'query=Musk AND (Tesla OR SpaceX)'
          schema:
            type: string
        - name: type
          in: query
          description: 'Find articles in the specified resource type(s). Multiple options can be specified by separating them with a comma, for example: `news,blog/company`.'
          example: 'type=news,blog/company'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - news
              - opinion
              - blog/company
              - blog/personal
            default: available
        - name: ignoreType
          in: query
          description: 'Ignore articles in the specified resource type(s). Multiple options can be specified by separating them with a comma, for example: `news,blog/company`.'
          example: 'ignoreTypes=news,blog/company'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
              type: string
              enum:
              - news
              - opinion
              - blog/company
              - blog/personal
              default: available
        - name: country
          in: query
          description: 'Find articles in the specified country(s). Multiple options can be specified by separating them with a comma, for example: `us,fr`. [Full list of available countries](/news-api/countries).'
          example: 'country=us,gb'
          required: false
          style: form
          explode: false
          deprecated: false
        - name: ignoreInCountry
          in: query
          description: 'Ignore articles in the specified country(s). Multiple options can be specified by separating them with a comma, for example: `us,fr`. [Full list of available countries](/news-api/countries).'
          example: 'ignoreInCountry=us,gb'
          required: false
          style: form
          explode: false
          deprecated: false
        - name: language
          in: query
          description: 'Find articles in the specified language(s). Multiple options can be specified by separating them with a comma, for example: `en,fr`. [Full list of available languages](/news-api/categories).'
          example: 'language=en,fr'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - english
            default: english
        - name: category
          in: query
          description: 'Find articles in the specified category(s). Multiple options can be specified by separating them with a comma, for example: `news/Sports,news/Science`. [List of available categories](/news-api/categories).'
          example: 'category=news/Sports,news/Science'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - news/World
              - news/Business
              - news/Politics
              - news/Technology
              - news/Environment
              - news/Health
              - news/Science
              - news/Sports
              - news/Arts_and_Entertainment
        - name: ignoreInCategory
          in: query
          description: 'Ignore articles in the specified category(s). Multiple options can be specified by separating them with a comma, for example: `design/digital,design/web`. [List of available categories](/news-api/categories).'
          example: 'ignoreInCategory=design/digital,design/web'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
              type: string
              enum:
              - news/World
              - news/Business
              - news/Politics
              - news/Technology
              - news/Environment
              - news/Health
              - news/Science
              - news/Sports
              - news/Arts_and_Entertainment
        - name: topic
          in: query
          description: 'Find articles in the specified topics(s). Multiple options can be specified by separating them with a comma, for example: `crypto_news,financial_news`. [List of available topics](/news-api/topics).'
          example: 'topic=crypto_news'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - crypto_news
              - financial_news
              - video_games_news
              - ai_news
        - name: ignoreInTopic
          in: query
          description: 'Ignore articles in the specified topics(s). Multiple options can be specified by separating them with a comma, for example: `crypto_news,financial_news`. [List of available topics](/news-api/topics).'
          example: 'ignoreInTopic=crypto_news'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
              type: string
              enum:
              - crypto_news
              - financial_news
              - video_games_news
              - ai_news
        - name: source
          in: query
          description: 'Find articles in the specified resource type(s). Multiple options can be specified by separating them with a comma, for example: `techcrunch.com,theverge.com`.'
          example: 'source=techcrunch.com,theverge.com'
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: ignoreInSource
          in: query
          description: 'Ignore articles in the specified resource type(s). Multiple options can be specified by separating them with a comma, for example: `techcrunch.com,theverge.com`.'
          example: 'ignoreInSource=techcrunch.com,theverge.com'
          required: false
          style: form
          explode: false
          schema:
              type: string
        - name: dateStart
          in: query
          description: 'The starting date on or after the articles of interest were published or created. The date should be in the `Possible values` formats.'
          example: 'dateStart=2023-10-09'
          required: false
          examples:
            1:
              value: '2023-10-09'
            2:
              value: '2023-08-10 00:00:00'
            3:
              value: '2023-10-09T00:00:00'
            4:
              value: '2023-10-09T00:00:00+00:00'
            5:
              value: '2023-10-09T00:00:00+0000'
            6:
              value: '2023-10-09T00:00:00.000Z'
            7:
              value: '1698064154'
          schema:
            type: string
            enum:
              - 'RFC850'
              - 'RFC1036'
              - 'RFC1123'
              - 'RFC2822'
              - 'RFC3339'
              - 'ISO8601'
              - 'timestamp(as integer)'
        - name: dateEnd
          in: query
          description: 'The last date on or after the articles of interest were published or created. The date should be in the `Possible values` formats.'
          example: 'dateEnd=2023-10-09'
          required: false
          examples:
            1:
              value: '2023-10-09'
            2:
              value: '2023-08-10 00:00:00'
            3:
              value: '2023-10-09T00:00:00'
            4:
              value: '2023-10-09T00:00:00+00:00'
            5:
              value: '2023-10-09T00:00:00+0000'
            6:
              value: '2023-10-09T00:00:00.000Z'
            7:
              value: '1698064154'
          schema:
            type: string
            example: 3232323
            enum:
              - 'RFC850'
              - 'RFC1036'
              - 'RFC1123'
              - 'RFC2822'
              - 'RFC3339'
              - 'ISO8601'
              - 'timestamp(as integer)'
        - name: rankMin
          in: query
          description: The lowest boundary of the rank of a news website to filter by.
          required: false
          example: 'rankMin=45'
          schema:
            type: integer
            format: int
            minimum: 1
            maximum: 99
        - name: rankMax
          in: query
          description: The upper boundary of the rank of a news website to filter by.
          required: false
          example: 'rankMax=45'
          schema:
            type: integer
            format: int
            minimum: 1
            maximum: 99
        - name: sentimentMin
          in: query
          description: The minimum value of the sentiment, the article should have. Valid value is any floating number between -1 (very negative) to 1 (very positive).
          required: false
          example: 'sentimentMin=0.02'
          schema:
            type: integer
            format: int
            minimum: -1
            maximum: 1
        - name: sentimentMax
          in: query
          description: The maximum value of the sentiment, the article should have. Valid value is any floating number between -1 (very negative) to 1 (very positive).
          required: false
          example: 'sentimentMax=0.01'
          schema:
            type: integer
            format: int
            minimum: -1
            maximum: 1
        - name: locationName
          in: query
          description: Find articles in a specific location. Country or city.
          required: false
          example: 'locationName=Barcelona'
          schema:
            type: string
        - name: ignoreInLocation
          in: query
          description: Ignore articles in a specific location. Country or city.
          required: false
          example: 'ignoreInLocation=Barcelona'
          schema:
              type: string
        - name: exportFormat
          in: query
          description: Export formatted data in many formats.
          example: 'exportFormat=json'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - json
              - xml
              - rss
              - html
              - csv
              - tsv
              - xls
              - xlsx
            default: json
        - name: sortBy
          in: query
          description: Choose the criteria for sorting the news articles.
          example: 'sortBy=date'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - published
              - created
              - sentiment
            default: created
        - name: sortDirection
          in: query
          description: Choose the criteria for sorting the news articles.
          example: 'sortDirection=desc'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsArticlesOutput'
        '400':
          description: Parameter missing or invalid
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error401'
        '402':
          description: Payment required
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error402'
        '404':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error422'
        '429':
          description: Too many requests
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal server error
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error500'

  /news/top-headlines:
    get:
      tags:
        - News API
      summary: Get top headlines
      description: "The top headlines endpoint provides access to the most recent and significant news stories.<br/><br/>Calling this endpoint requires `1 point`.<br/><br/>This api endpoint also available in `POST` request."
      parameters:
        - name: apiKey
          in: query
          description: Your API key from dashboard.
          required: false
          schema:
            type: string
        - name: title
          in: query
          description: Find articles by article title.
          required: false
          example: 'title=Apple'
          schema:
            type: string
        - name: queryInTitle
          in: query
          description: Find articles by query. [Examples how to use](/news-api/advanced-searching).
          required: false
          example: 'queryInTitle=Musk AND (Tesla OR SpaceX)'
          schema:
            type: string
        - name: ignoreInTitle
          in: query
          description: Ignore articles by article title.
          required: false
          example: 'ignoreInTitle=Apple'
          schema:
            type: string
        - name: content
          in: query
          description: Find articles by article content.
          required: false
          example: 'content=Macbook'
          schema:
            type: string
        - name: queryInContent
          in: query
          description: Find articles by query. [Examples how to use](/news-api/advanced-searching).
          required: false
          example: 'queryInContent=Musk AND (Tesla OR SpaceX)'
          schema:
            type: string
        - name: ignoreInContent
          in: query
          description: Ignore articles by article content.
          required: false
          example: 'ignoreInContent=Macbook'
          schema:
            type: string
        - name: author
          in: query
          description: Find articles by author name.
          required: false
          example: 'author=John Doe, Jane Doe'
          schema:
            type: string
        - name: ignoreInAuthor
          in: query
          description: Ignore articles by author name.
          required: false
          example: 'ignoreInAuthor=John Doe'
          schema:
            type: string
        - name: search
          in: query
          description: Find articles by article title or article content match.
          required: false
          example: 'search=Macbook Pro'
          schema:
            type: string
        - name: ignoreInSearch
          in: query
          description: Ignore articles by article title or article content match.
          required: false
          example: 'ignoreInSearch=Macbook Pro'
          schema:
            type: string
        - name: query
          in: query
          description: Find articles by query. [Examples how to use](/news-api/advanced-searching).
          required: false
          example: 'query=Musk AND (Tesla OR SpaceX)'
          schema:
            type: string
        - name: type
          in: query
          description: 'Find articles in the specified resource type(s). Multiple options can be specified by separating them with a comma, for example: `news,blog/company`.'
          example: 'type=news,blog/company'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - news
              - opinion
              - blog/company
              - blog/personal
            default: available
        - name: ignoreType
          in: query
          description: 'Ignore articles in the specified resource type(s). Multiple options can be specified by separating them with a comma, for example: `news,blog/company`.'
          example: 'ignoreTypes=news,blog/company'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - news
              - opinion
              - blog/company
              - blog/personal
            default: available
        - name: country
          in: query
          description: 'Find articles in the specified country(s). Multiple options can be specified by separating them with a comma, for example: `us,fr`. [Full list of available countries](/news-api/countries).'
          example: 'country=us,gb'
          required: false
          style: form
          explode: false
          deprecated: false
        - name: ignoreInCountry
          in: query
          description: 'Ignore articles in the specified country(s). Multiple options can be specified by separating them with a comma, for example: `us,fr`. [Full list of available countries](/news-api/countries).'
          example: 'ignoreInCountry=us,gb'
          required: false
          style: form
          explode: false
          deprecated: false
        - name: language
          in: query
          description: 'Find articles in the specified language(s). Multiple options can be specified by separating them with a comma, for example: `en,fr`. [Full list of available languages](/news-api/categories).'
          example: 'language=en,fr'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - english
            default: english
        - name: category
          in: query
          description: 'Find articles in the specified category(s). Multiple options can be specified by separating them with a comma, for example: `news/Sports,news/Science`. [List of available categories](/news-api/categories).'
          example: 'category=news/Sports,news/Science'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - news/World
              - news/Business
              - news/Politics
              - news/Technology
              - news/Environment
              - news/Health
              - news/Science
              - news/Sports
              - news/Arts_and_Entertainment
        - name: ignoreInCategory
          in: query
          description: 'Ignore articles in the specified category(s). Multiple options can be specified by separating them with a comma, for example: `design/digital,design/web`. [List of available categories](/news-api/categories).'
          example: 'ignoreInCategory=design/digital,design/web'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - news/World
              - news/Business
              - news/Politics
              - news/Technology
              - news/Environment
              - news/Health
              - news/Science
              - news/Sports
              - news/Arts_and_Entertainment
        - name: topic
          in: query
          description: 'Find articles in the specified topics(s). Multiple options can be specified by separating them with a comma, for example: `crypto_news,financial_news`. [List of available topics](/news-api/topics).'
          example: 'topic=crypto_news'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - crypto_news
              - financial_news
              - video_games_news
              - ai_news
        - name: ignoreInTopic
          in: query
          description: 'Ignore articles in the specified topics(s). Multiple options can be specified by separating them with a comma, for example: `crypto_news,financial_news`. [List of available topics](/news-api/topics).'
          example: 'ignoreInTopic=crypto_news'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - crypto_news
              - financial_news
              - video_games_news
              - ai_news
        - name: source
          in: query
          description: 'Find articles in the specified resource type(s). Multiple options can be specified by separating them with a comma, for example: `techcrunch.com,theverge.com`.'
          example: 'source=techcrunch.com,theverge.com'
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: ignoreInSource
          in: query
          description: 'Ignore articles in the specified resource type(s). Multiple options can be specified by separating them with a comma, for example: `techcrunch.com,theverge.com`.'
          example: 'ignoreInSource=techcrunch.com,theverge.com'
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: dateStart
          in: query
          description: 'The starting date on or after the articles of interest were published or created. The date should be in the `Possible values` formats.'
          example: 'dateStart=2023-10-09'
          required: false
          examples:
            1:
              value: '2023-10-09'
            2:
              value: '2023-08-10 00:00:00'
            3:
              value: '2023-10-09T00:00:00'
            4:
              value: '2023-10-09T00:00:00+00:00'
            5:
              value: '2023-10-09T00:00:00+0000'
            6:
              value: '2023-10-09T00:00:00.000Z'
            7:
              value: '1698064154'
          schema:
            type: string
            enum:
              - 'RFC850'
              - 'RFC1036'
              - 'RFC1123'
              - 'RFC2822'
              - 'RFC3339'
              - 'ISO8601'
              - 'timestamp(as integer)'
        - name: dateEnd
          in: query
          description: 'The last date on or after the articles of interest were published or created. The date should be in the `Possible values` formats.'
          example: 'dateEnd=2023-10-09'
          required: false
          examples:
            1:
              value: '2023-10-09'
            2:
              value: '2023-08-10 00:00:00'
            3:
              value: '2023-10-09T00:00:00'
            4:
              value: '2023-10-09T00:00:00+00:00'
            5:
              value: '2023-10-09T00:00:00+0000'
            6:
              value: '2023-10-09T00:00:00.000Z'
            7:
              value: '1698064154'
          schema:
            type: string
            example: 3232323
            enum:
              - 'RFC850'
              - 'RFC1036'
              - 'RFC1123'
              - 'RFC2822'
              - 'RFC3339'
              - 'ISO8601'
              - 'timestamp(as integer)'
        - name: rankMin
          in: query
          description: The lowest boundary of the rank of a news website to filter by.
          required: false
          example: 'rankMin=45'
          schema:
            type: integer
            format: int
            minimum: 1
            maximum: 99
        - name: rankMax
          in: query
          description: The upper boundary of the rank of a news website to filter by.
          required: false
          example: 'rankMax=45'
          schema:
            type: integer
            format: int
            minimum: 1
            maximum: 99
        - name: sentimentMin
          in: query
          description: The minimum value of the sentiment, the article should have. Valid value is any floating number between -1 (very negative) to 1 (very positive).
          required: false
          example: 'sentimentMin=0.02'
          schema:
            type: integer
            format: int
            minimum: -1
            maximum: 1
        - name: sentimentMax
          in: query
          description: The maximum value of the sentiment, the article should have. Valid value is any floating number between -1 (very negative) to 1 (very positive).
          required: false
          example: 'sentimentMax=0.01'
          schema:
            type: integer
            format: int
            minimum: -1
            maximum: 1
        - name: locationName
          in: query
          description: Find articles in a specific location. Country or city.
          required: false
          example: 'locationName=Barcelona'
          schema:
            type: string
        - name: ignoreInLocation
          in: query
          description: Ignore articles in a specific location. Country or city.
          required: false
          example: 'ignoreInLocation=Barcelona'
          schema:
            type: string
        - name: exportFormat
          in: query
          description: Export formatted data in many formats.
          example: 'exportFormat=json'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - json
              - xml
              - rss
              - html
              - csv
              - tsv
              - xls
              - xlsx
            default: json
        - name: sortBy
          in: query
          description: Choose the criteria for sorting the news articles.
          example: 'sortBy=date'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - published
              - created
              - sentiment
            default: created
        - name: sortDirection
          in: query
          description: Choose the criteria for sorting the news articles.
          example: 'sortDirection=desc'
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsArticlesOutput'
        '400':
          description: Parameter missing or invalid
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error401'
        '402':
          description: Payment required
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error402'
        '404':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error422'
        '429':
          description: Too many requests
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal server error
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error500'

  /news/article/{id}:
    get:
      tags:
        - News API
      summary: Get single news article
      description: 'Get specific article by ID.<br/><br/>Calling this endpoint requires `0.1 points`.<br/><br/>This api endpoint also available in `POST` request.'
      parameters:
        - name: apiKey
          in: query
          description: Your API key from dashboard.
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Article ID.
          required: false
          example: 'bd4ddb06-c2e2-4ada-8228-7c952da9ed22'
          schema:
            type: string
        - name: exportFormat
          in: query
          description: Export formatted data in many formats.
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - json
              - xml
              - rss
              - html
              - csv
              - tsv
              - xls
              - xlsx
            default: json
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsArticlesOutput'
        '400':
          description: Parameter missing or invalid
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error401'
        '402':
          description: Payment required
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error402'
        '404':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Something goes wrong
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error422'
        '429':
          description: Too many requests
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal server error
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error500'

  /news/story/{id}:
    get:
      tags:
        - News API
      summary: Get story of news article
      description: "Get specific article story by ID.<br/><br/>Calling this endpoint requires `0.1 points`.<br/><br/>This api endpoint also available in `POST` request."
      parameters:
        - name: apiKey
          in: query
          description: Your API key from dashboard.
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Article story ID.
          required: false
          example: 'bd4ddb06-c2e2-4ada-8228-7c952da9ed22'
          schema:
            type: string
        - name: exportFormat
          in: query
          description: Export formatted data in many formats.
          required: false
          style: form
          explode: false
          deprecated: false
          schema:
            type: string
            enum:
              - json
              - xml
              - rss
              - html
              - csv
              - tsv
              - xls
              - xlsx
            default: json
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsArticlesOutput'
        '400':
          description: Parameter missing or invalid
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error401'
        '402':
          description: Payment required
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error402'
        '404':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Something goes wrong
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error422'
        '429':
          description: Too many requests
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal server error
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error500'

  /detect-sentiment:
    post:
      tags:
        - Text Analytics API
      summary: Detect text sentiment
      description: Detect text sentiment by sentences.<br/><br/>Calling this endpoint is `free`.<br/><br/>This api endpoint also available in `POST` request.
      parameters:
        - name: text
          in: query
          description: The content that will be utilized to compute sentiment.
          required: false
          example: 'text=hello world'
          schema:
            type: string
            format: string
            minimum: 6
            maximum: 20000
            description: Max value of string is `20000 length`
#        - name: apiKey
#          in: query
#          description: Your API key from dashboard.
#          required: false
#          schema:
#            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: 'Request ID.'
                    format: string
                  text:
                    type: string
                    description: 'Requested text.'
                    format: string
                  total_score:
                    type: integer
                    description: 'Total sentiment score.'
                    format: float
                  total_comparative:
                    type: integer
                    description: 'Total sentiment comparative.'
                    format: float
        '400':
          description: Parameter missing or invalid
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error400'
#        '401':
#          description: Unauthorized
#          content:
#            text/html:
#              schema:
#                $ref: '#/components/schemas/Error401'
#        '402':
#          description: Payment required
#          content:
#            text/html:
#              schema:
#                $ref: '#/components/schemas/Error402'
        '404':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Something goes wrong
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error422'
        '429':
          description: Too many requests
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal server error
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error500'

  /detect-language:
    post:
      tags:
        - Text Analytics API
      summary: Detect text language
      description: Detect text language.<br/><br/>Calling this endpoint is `free`.<br/><br/>This api endpoint also available in `POST` request.
      parameters:
        - name: text
          in: query
          description: The content that will be utilized to compute language.
          required: false
          example: 'text=hello world'
          schema:
            type: string
            format: string
            minimum: 6
            maximum: 20000
            description: Max value of string is `20000 length`
      #        - name: apiKey
      #          in: query
      #          description: Your API key from dashboard.
      #          required: false
      #          schema:
      #            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: 'Request ID.'
                    format: string
                  text:
                    type: string
                    description: 'Requested text.'
                    format: string
                  language_code:
                    type: string
                    description: 'Detected language (ISO 639-1 code).'
                    format: string
        '400':
          description: Parameter missing or invalid
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error400'
        #        '401':
        #          description: Unauthorized
        #          content:
        #            text/html:
        #              schema:
        #                $ref: '#/components/schemas/Error401'
        #        '402':
        #          description: Payment required
        #          content:
        #            text/html:
        #              schema:
        #                $ref: '#/components/schemas/Error402'
        '404':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Something goes wrong
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error422'
        '429':
          description: Too many requests
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal server error
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error500'

  /suggest-category:
    post:
      tags:
        - Text Analytics API
      summary: Suggest category
      description: Suggest category by text.<br/><br/>Calling this endpoint is `free`.<br/><br/>This api endpoint also available in `POST` request.
      parameters:
        - name: text
          in: query
          description: The content that will be utilized to compute language.
          required: false
          example: 'text=hello world'
          schema:
            type: string
            format: string
            minimum: 6
            maximum: 20000
            description: Max value of string is `20000 length`
      #        - name: apiKey
      #          in: query
      #          description: Your API key from dashboard.
      #          required: false
      #          schema:
      #            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: 'Request ID.'
                    format: string
                  text:
                    type: string
                    description: 'Requested text.'
                    format: string
                  category:
                    type: string
                    description: 'Detected category.'
                    format: string
                    default: 'uncategorized'
                  scores:
                    type: array
                    description: 'Scores.'
                    format: array
        '400':
          description: Parameter missing or invalid
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error400'
        #        '401':
        #          description: Unauthorized
        #          content:
        #            text/html:
        #              schema:
        #                $ref: '#/components/schemas/Error401'
        #        '402':
        #          description: Payment required
        #          content:
        #            text/html:
        #              schema:
        #                $ref: '#/components/schemas/Error402'
        '404':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Something goes wrong
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error422'
        '429':
          description: Too many requests
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal server error
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error500'

  /text-summarization:
    post:
      tags:
        - Text Analytics API
      summary: Suggest summary
      description: Suggest summary by text.<br/><br/>Calling this endpoint is `free`.<br/><br/>This api endpoint also available in `POST` request.
      parameters:
        - name: text
          in: query
          description: The content that will be utilized to compute language.
          required: false
          example: 'text=hello world'
          schema:
            type: string
            format: string
            minimum: 6
            maximum: 20000
            description: Max value of string is `20000 length`
      #        - name: apiKey
      #          in: query
      #          description: Your API key from dashboard.
      #          required: false
      #          schema:
      #            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: 'Request ID.'
                    format: string
                  text:
                    type: string
                    description: 'Requested text.'
                    format: string
                  list:
                    type: array
                    description: 'List of sentences.'
                    format: array
                    properties:
                      sentence:
                          type: string
                          description: 'Summary sentence.'
                          format: string
        '400':
          description: Parameter missing or invalid
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error400'
        #        '401':
        #          description: Unauthorized
        #          content:
        #            text/html:
        #              schema:
        #                $ref: '#/components/schemas/Error401'
        #        '402':
        #          description: Payment required
        #          content:
        #            text/html:
        #              schema:
        #                $ref: '#/components/schemas/Error402'
        '404':
          description: Not found
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error404'
        '422':
          description: Something goes wrong
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error422'
        '429':
          description: Too many requests
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal server error
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/Error500'

components:
  schemas:
    NewsArticlesOutput:
      title: articles
      description: Latest articles
      required:
        - status
        - path
        - limit
        - nextPage
        - previousPage
        - pages
        - exportFormats
        - results
      type: object
      properties:
        status:
          type: string
          description: 'If all goes smoothly, it will return `ok`. In the event of an error, it will return `error` along with two additional attributes for error identification: `error_code` and `message`.'
          format: string
        limit:
          type: integer
          description: 'Articles per page. By default is 15. For paid plans limit reached to 1000 articles per page.'
          format: int
          default: 250
        path:
          type: string
          description: 'Current request href.'
          format: string
        nextPage:
          type: string
          description: 'Next page href.'
          format: string
        previousPage:
          type: string
          description: 'Previous page href.'
          format: string
        userInput:
          type: object
          description: 'Current request parameters.'
          format: int
        exportFormats:
          type: object
          description: Export to format.
          items:
            $ref: '#/components/schemas/NewsArticleExportFormats'
        results:
          type: object
          items:
            $ref: '#/components/schemas/NewsArticle'
    NewsArticle:
      title: article
      description: Single article
      required:
        - id
        - href
        - publishedAt
        - title
        - description
        - content
        - image
        - authors
        - links
        - videos
        - country
        - language
        - category
        - resource
        - sentiment
        - locations
        - summary
        - source
        - storyId
        - topic
      type: object
      properties:
        id:
          type: string
          description: 'Article ID.'
        href:
          type: string
          description: 'Direct url.'
        publishedAt:
          type: string
          description: 'The date and time that the article was published or created, in UTC (+000).'
          format: 'string in RFC 3339 format'
        title:
          type: string
          description: 'Title.'
          format: string
        description:
          type: string
          description: 'Short description.'
          format: string
        content:
          type: string
          description: 'Full body without html tags.'
          format: string
        image:
          type: string
          description: 'First image in article.'
          format: string
        authors:
          type: array
          description: 'Authors from article.'
          format: array
        links:
          type: array
          description: 'Links from article.'
          format: array
        videos:
          type: array
          description: 'Videos from article.'
          format: string
        country:
          type: string
          description: 'Article country code.'
          format: string
        language:
          type: string
          description: 'Article language code.'
          format: string
        category:
          type: string
          description: 'Article category code.'
          format: string
        topic:
          type: string
          description: 'Article topic id.'
          format: string
        storyId:
          type: string
          description: 'Story ID.'
          format: string
        source:
          type: array
          description: 'Information about source.'
          required:
            - id
            - type
            - rank
          format: object
          properties:
            id:
              type: string
              description: 'Source ID.'
              format: string
            type:
              type: string
              description: 'Source type.'
              format: string
            rank:
              type: integer
              description: 'Source rank.'
              format: int
        sentiment:
          type: integer
          format: float
          description: Valid value is any floating number between -1 (very negative) to 1 (very positive).
        summary:
          type: array
          items:
            $ref: '#/components/schemas/NewsArticleSummary'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/NewsArticleLocation'

    NewsArticleLocation:
      title: locations
      description: Article detected locations
      type: array
      required:
        - key
        - name
        - type
        - country
        - coords
      properties:
        key:
          type: string
          description: 'Location key'
          format: string
        name:
          type: string
          description: 'Location name'
          format: string
        type:
          type: string
          description: 'Location type.'
          format: string
        country:
          type: string
          description: 'Location country code (ISO 3166-1 alpha-2 code)'
          format: string
        coords:
          type: array
          description: 'City name.'
          format: array
          required:
            - latitude
            - longitude
          properties:
            latitude:
              description: 'Location place latitude.'
              format: float
            longitude:
              type: string
              description: 'Location place longitude.'
              format: float

    NewsArticleSummary:
      title: sentences
      description: Article detected location
      type: array
      required:
        - text
        - sentiment
      properties:
        text:
          type: string
          description: 'Sentence.'
          format: string
          required: true

#    NewsCategories:
#      title: categories
#      description: Get all categories
#      required:
#        - results
#      type: object
#      properties:
#        results:
#          type: array
#          items:
#            $ref: '#/components/schemas/NewsCategory'

    NewsCategory:
      title: category
      description: Single category
      required:
        - id
        - name
      type: object
      properties:
        id:
          type: string
          description: 'Category ID.'
        name:
          type: string
          description: 'Category name.'

    NewsLanguages:
      title: languages
      description: Get all languages
      required:
        - results
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/NewsLanguage'

    NewsLanguage:
      title: language
      description: Single language
      required:
        - id
        - label
      type: object
      properties:
        id:
          type: string
          description: 'Language ID.'
        name:
          type: string
          description: 'Language name.'

    Error400:
      title: Parameter missing or invalid
      description: "Failed request [List HTTP Response codes](/http_response_codes)"
      format: string
      type: string
      enum:
        - 400|BadRequest

    Error401:
      title: Unauthorized
      description: "Failed request [List HTTP Response codes](/http_response_codes)"
      format: string
      type: string
      enum:
        - 401|Unauthorized

    Error402:
      title: Payment required
      description: "Failed request [List HTTP Response codes](/http_response_codes)"
      format: string
      type: string
      enum:
        - 402|PointsBalanceNegative

    Error404:
      title: Not found
      description: "Failed request [List HTTP Response codes](/http_response_codes)"
      format: string
      type: string
      enum:
        - 404|NotFound

    Error422:
      title: Something goes wrong
      description: "Failed request [List HTTP Response codes](/http_response_codes)"
      format: string
      type: string
      enum:
        - 429|SomethingGoesWrong

    Error429:
      title: Too many requests
      description: "Failed request [List HTTP Response codes](/http_response_codes)"
      format: string
      type: string
      enum:
        - 429|TooManyRequests

    Error500:
      title: Internal server error
      description: "Failed request [List HTTP Response codes](/http_response_codes)"
      format: string
      type: string
      enum:
        - 500|InternalServerError

    NewsArticleExportFormats:
      title: Exporting article formats
      description: Exporting article formats
      required:
        - json
        - xml
        - rss
        - html
        - csv
        - tsv
        - xls
        - xlsx
      type: object
      properties:
        json:
          type: string
          description: Export to JSON format.
          format: string
        xml:
          type: string
          description: Export to XML format.
          format: string
        rss:
          type: string
          description: Export to RSS format.
          format: string
        html:
          type: string
          description: Export to HTML format.
          format: string
        csv:
          type: string
          description: Export to CSV format.
          format: string
        tsv:
          type: string
          description: Export to TSV format.
          format: string
        xls:
          type: string
          description: Export to XLS format.
          format: string
        xlsx:
          type: string
          description: Export to XLSX format.
          format: string
